@charset "utf-8";

@media(max-width: 1440px) {
    #header {width: 1440px}
    .header_inner {width: 1440px; }
    #top_visual {}
    #contents {width: 1440px; align-items: center;}
    #banner {width: 1440px;}
    #banner img {width: 1440px;}
    #footer {width: 1440px;}
}
@media(max-width: 1020px) {
    #header {width: 1020px}
    #top_visual {width: 1020px;}
    #contents {width: 1020px;}
    #banner {width: 1020px;}
    #banner img {width: 1020px;}
    #footer {width: 1020px;}
}
@media(max-width: 640px) {
    #header {width: 640px}
    #top_visual {width: 640px;}
    #contents {width: 640px;}
    #banner {width: 640px;}
    #banner img {width: 640px;}
    #footer {width: 640px;}
}
@media(max-width: 430px) {
    #header {width: 430px}
    #top_visual {width: 430px;}
    #contents {width: 430px;}
    #banner {width: 430px;}
    #banner img {width: 430px;}
    #footer {width: 430px;}
}